<!DOCTYPE html>
<html lang="de-ch">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Offizielles Tool zur Zeiterfassung der ONAX AG - it solutions" />
  <title>@ViewData["Title"] - TimeManager</title>
  <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon.png" />

  <!-- Materialize -->
  <link rel="preload" href="~/css/materialize.min.css" as="style" onload="this.rel='stylesheet'" />
  <!-- Google Fonts -->
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto" as="style" onload="this.rel='stylesheet'" />
  <!-- Google Material Icons-->
  <link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons" as="style" onload="this.rel='stylesheet'" />
  <!-- Custom CSS -->
  <link rel="preload" href="~/css/site.min.css" as="style" onload="this.rel='stylesheet'" />

  @*
    <link rel="prefetch" href="https://code.jquery.com/jquery-3.3.1.min.js" as="script" onload="document.head.appendChild(this)" />
    <link rel="prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" as="script" onload="document.head.appendChild(this)" />
    <link rel="prefetch" href="~/js/before.min.js" as="script" onload="document.head.appendChild(this)" />
  *@

  <!-- JQuery -->
  <script async src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- Materialize -->
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Custom JS -->
  <script src="~/js/before.min.js"></script>
</head>

<body>
  <!-- This form triggers logout functionality in Account helper -->
  <form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post"></form>
  <nav>
    <div class="nav-wrapper">
      <ul class="left">
        @if (User.Identity.Name == null)
        {
          <li>
            <a href="/">Index</a>
          </li>
        }
        @if (User.IsInRole("Normal") || User.IsInRole("Advanced") || User.IsInRole("High"))
        {
          <li>
            <a href="/OwnTimes">OwnTimes</a>
          </li>
        }
        @if (User.IsInRole("Advanced") || User.IsInRole("High"))
        {
          <li>
            <a href="/Controlling">Controlling</a>
          </li>
        }
        @if (User.IsInRole("High"))
        {
          <li>
            <a href="/Users">Users</a>
          </li>
        }
      </ul>
      <ul class="right">
        @if (User.Identity.Name != null)
        {
          <li class="hide-on-small-only">
            <span>Hallo @User.Identity.Name</span>
          </li>
          <li onclick="logoutForm.submit();">
            <a>Logout</a>
          </li>
        }
      </ul>
    </div>
  </nav>

  <!-- Page content -->
  <div class="page-container">
    @RenderBody()
  </div>

  <footer>
    <span>ONAX AG - it solutions</span>
  </footer>

  <!-- Custom JS -->
  <script async src="~/js/after.min.js"></script>
</body>
</html>
