@page
@model ErrorPageModel
@{ ViewData["Title"] = "Error"; }

<div id="Error">
  <h1>Oh oh...</h1>
  <h4>Diese Seite existiert nicht, oder benötigt höhere Zugriffsrechte.</h4>

  <p>
    Wenn Sie sicher sind, dass dies die richtige URL ist, Fragen Sie Ihren Systemadministrator oder Entwickler.
  </p>
</div>