<configuration>
  <connectionString>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=localhost\\Home;Database=TimeManager;User Id=sa;Password=vawbuNHGNPKCZ77+" />
    <!--Data Source=localhost\\Home; Initial Catalog=TimeManager; Integrated Security=SSPI; Persist Security Info=False;-->
  </connectionString>
</configuration>