@model UserModel
@{
    ViewData["Title"] = "Home Page";
}
@using TimeManager.Database

<h1>Time Manager der ONAX AG</h1>
<p>Bitte loggen Sie sich ein, um Zeiten zu erfassen oder anzusehen. Falls Sie kein Login haben, wenden Sie sich bitte
    an den Systemadministrator.</p>

<h2>Login</h2>
<form method="POST" asp-controller="Home" asp-action="Index">
    <label>Benutzername</label><br />
    <input name="Username" required/><br />
    <label>Passwort</label><br />
    <input name="Password" required/><br />
    <button class="btn-small green" type="submit" value="Login">Log in</button>
</form>