@{
    ViewData["Title"] = "Home Page";
}
<h1>Time Manager der ONAX AG</h1>
<p>Bitte loggen Sie sich ein, um Zeiten zu erfassen oder anzusehen. Falls Sie kein Login haben, wenden Sie sich bitte an den Systemadministrator.</p>

<h2>Login</h2>
<form action="">
  <label>Benutzername</label><br />
  <input name="Username" /><br />
  <label>Passwort</label><br />
  <input name="Password" /><br />
  <button class="btn-small green" type="submit">Log in</button>
</form>