html {
  font-family: 'Roboto', sans-serif;
}

.datepicker-modal {
  max-width: fit-content !important;
}

.datepicker-modal .datepicker-date-display {
  display: none !important;
}

input[type='text'], select {
  height: 20px !important;
}