html, .modal, .modal .modal-footer {
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: #333333;
}

.page-container {
  width: 90%;
  margin: 0 auto;
}

.page-container > footer {
  position: absolute; 
  bottom: 0;
}

.modal.modal-fixed-footer .modal-footer {
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #aecc53;
}

nav, nav ul a, nav * {
  color: black;
  font-size: 1.05em;
}

.datepicker-modal {
  max-width: fit-content !important;
}
