html {
  font-family: 'Roboto', sans-serif;
}

#absenceForm .datepicker-modal {
  max-width: fit-content !important;
}

#absenceForm .datepicker-modal .datepicker-date-display {
  display: none !important;
}

#absenceForm input[type='text'] {
  height: 20px;
}