@model OwnTimesModel
@{
ViewData["Title"] = "Eigene Zeiten";
}
<h1>Eigene Zeiten</h1>

<a class="btn green modal-trigger" href="#absenceWindow">Neue Abwesenheit</a>
<a class="btn green modal-trigger" href="#overtimeWindow">Neue Überzeit</a>

<!-- AbsenceWindow -->
<div id="absenceWindow" class="modal" style="height: 600px">
  <div class="modal-content">
    <h4>Neue Abwesenheit</h4>
    <div id="absenceForm" style="display: grid; grid-template-columns: 1fr 4fr; grid-gap: 1em;">
      <div>
        <span>Abwesend von:</span>
      </div>
      <div>
        <input id="dateFrom" type="text" class="datepicker" />
      </div>
      <div>
        <span>Abwesend bis:</span>
      </div>
      <div>
        <input id="dateTo" type="text" class="datepicker" />
      </div>
      <div>
        <span>Grund:</span>
      </div>
      <div>
        <!--nested Grid-->
        <div id="reasonGrid" style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 1em;">
          <label>
            <input type="checkbox" class="filled-in green reasonCheck" />
            <span>Ferien</span>
          </label>
          <label>
            <input type="checkbox" class="filled-in green reasonCheck" />
            <span>Militär</span>
          </label>
          <label>
            <input type="checkbox" class="filled-in green reasonCheck" />
            <span>Krank</span>
          </label>
          <label>
            <input type="checkbox" class="filled-in green reasonCheck" />
            <span>Unfall</span>
          </label>
          <label>
            <input type="checkbox" class="filled-in green reasonCheck" />
            <span>Schule</span>
          </label>
          <label>
            <input type="checkbox" class="filled-in green reasonCheck" />
            <span><input id="reasonText" type="text" placeholder="Anderer" /></span>

          </label>
        </div>
      </div>
      <div>
        <span>Ist i.O.:</span>
      </div>
      <div>
        <!-- label wrapper and empty span is required for materialize -->
        <label>
          <input id="approved" type="checkbox" class="filled-in green" checked disabled />
          <span></span>
        </label>
      </div>
    </div>
  </div>
</div>

<!-- OvertimeWindow -->
<div id="overtimeWindow" class="modal" style="height: 600px">
  <div class="modal-content">
    <h4>Neue Überzeit</h4>
    <div id="overtimeForm" style="display: grid; grid-template-columns: 1fr 4fr; grid-gap: 1em;">
      <div>
        <span>Datum:</span>
      </div>
      <div>
        <input id="date" type="text" class="datepicker" />
      </div>
      <div>
        <span>Kunde:</span>
      </div>
      <div>
        <input id="customer" type="text">
      </div>
      <div>
        <span>Zuschlag:</span>
      </div>
      <div class="input-field">
        <select disabled>
          @foreach (var line in OwnTimesModel.OvertimeDetail) {
          <option>@line</option>
          }
        </select>
      </div>
    </div>
  </div>
</div>

<!-- AbsenceGrid -->
<!-- OvertimeGrid -->