@page
@model IndexModel
@{ ViewData["Title"] = "Home Page"; }
@if (User.Identity.Name != null)
{
  Response.Redirect("/OwnTimes");
}
<div id="Index">
  <h1>Time Manager</h1>
  <h4>Zeiterfassungs Tool der ONAX AG</h4>
  <h6>Aktuelle Version: 0.1.1</h6>

  <p>
    Bitte loggen Sie sich ein, um Zeiten zu erfassen oder anzusehen. Falls Sie kein Login haben, wenden Sie sich bitte an den Systemadministrator.
  </p>

  <h2>Login</h2>
  <form method="POST">
    <label asp-for="Login.Username">Benutzername</label><br />
    <input asp-for="Login.Username" /><br />

    <label asp-for="Login.Password">Passwort</label><br />
    <input asp-for="Login.Password" type="password" /><br />

    <button class="btn-small" type="submit" value="Login">Log in</button><br />
    <div class="red-text" asp-validation-summary="ModelOnly"></div>
  </form>
</div>