@page
@model IndexModel
@{ ViewData["Title"] = "Home Page"; }
@{ 
  <text>
    <script type="text/javascript">
      if (window.location.pathname == "/") {
        window.location.href = "/OwnTimes";
      }
    </script>
  </text>
}

<h1>Time Manager der ONAX AG</h1>

<p>
  Bitte loggen Sie sich ein, um Zeiten zu erfassen oder anzusehen. Falls Sie
  kein Login haben, wenden Sie sich bitte an den Systemadministrator.
</p>

<h2>Login</h2>
<form method="POST">
  <label asp-for="Login.Username">Benutzername</label>
  <span class="red-text" asp-validation-for="Login.Username"></span>
  <input asp-for="Login.Username" />

  <label asp-for="Login.Password">Passwort</label>
  <span class="red-text" asp-validation-for="Login.Password"></span>
  <input asp-for="Login.Password" type="password" />

  <button class="btn-small" type="submit" value="Login">Log in</button>
  <div class="red-text" asp-validation-summary="ModelOnly"></div>
</form>
