@page
@model OwnTimesPageModel
@{ ViewData["Title"] = "Eigene Zeiten"; }
<script>
  $(document).ready(() => {
    writeOwnTimesTables('false', '@User.FindFirst(ClaimTypes.NameIdentifier).Value');
    $(`option[value='@User.FindFirst(ClaimTypes.NameIdentifier).Value.ToUpper()']`).attr('selected', 'selected');
  });
</script>
<div id="OwnTimes">
  <h1>Eigene Zeiten</h1>

  <a class="btn modal-trigger" href="#absenceWindow">Neue Abwesenheit</a>
  <a class="btn modal-trigger" href="#overtimeWindow">Neue Überzeit</a>
  @{
    UserModel user = Model._db.User.Where(u => u.ID.ToString() == User.FindFirst(ClaimTypes.NameIdentifier).Value).SingleOrDefault();
    if (User.IsInRole("Manager") || User.IsInRole("Admin"))
    {
      <select id="userDropdown" class="right browser-default btn" asp-items="Model.userList" style="width: fit-content;"></select>
    }
  }

  <label class="right">
    <input id="filter" type="checkbox" class="filled-in" />
    <span style="padding-right: 1em;">Letze 30 Tage</span>
  </label>

  <!-- AbsenceWindow -->
  <partial name="/Pages/OwnTimes/_AbsencePartial.cshtml" />
  <!-- OvertimeWindow -->
  <partial name="/Pages/OwnTimes/_OvertimePartial.cshtml" />

  <!-- AbsenceGrid -->
  <div style="display: grid; grid-template-columns: 1fr auto;">
    <h4>Abwesenheiten</h4>
    <div class="right" style="margin: 1.52rem 0 .912rem 0;">
      <span id="absencesRemaining"></span>
      &nbsp;Tage verfügbare Abwesenheit bis 31.12.2019
    </div>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Von</th>
          <th>Bis</th>
          <th>Grund</th>
          <th>Ist I.O.</th>
          <th>Bearbeiten</th>
        </tr>
      </thead>
      <tbody style="--height: 15vh">
        <!-- JS replaces this tbody -->
      </tbody>
    </table>
  </div>
  <!-- OvertimeGrid -->
  <div style="display: grid; grid-template-columns: 1fr auto;">
    <h4>Überzeiten</h4>
    <div class="right" style="margin: 1.52rem 0 .912rem 0;">
      <span id="doneOvertimes"></span>
      h Überzeit seit 1.1.2019
    </div>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Datum</th>
          <th>Kunde</th>
          <th>Std.</th>
          <th>Zuschlag</th>
          <th>Bearbeiten</th>
        </tr>
      </thead>
      <tbody style="--height: 15vh">
        <!-- JS replaces this tbody -->
      </tbody>
    </table>
  </div>
</div>