@page
@model OwnTimesModel
@{ ViewData["Title"] = "Eigene Zeiten"; }

<h1>Eigene Zeiten</h1>

<a class="btn modal-trigger" href="#absenceWindow">Neue Abwesenheit</a>
<a class="btn modal-trigger" href="#overtimeWindow">Neue Überzeit</a>

<!-- AbsenceWindow -->
<partial name="/Pages/OwnTimes/_AbsencePartial.cshtml" />
<!-- OvertimeWindow -->
<partial name="/Pages/OwnTimes/_OvertimePartial.cshtml" />

<!-- AbsenceGrid -->
<!-- OvertimeGrid -->
