@model OwnTimesPageModel
@{
  Model.reasons = Model._db.AbsenceDetail.Select(item => item.Reason).ToArray();
}

<div id="absenceWindow" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Abwesenheit erfassen oder ändern</h4>
    <form id="absenceForm" asp-page-handler="Absence" method="POST" style="display: grid; grid-template-columns: 1fr 4fr; grid-gap: 1em;">

      <span>Abwesend von:</span>
      <!-- Nested Grid AbsentFrom -->
      <div style="display: grid; grid-template-columns: 3fr 1fr 1fr; grid-gap: 1em;">
        <input id="dateFrom" type="text" class="datepicker" asp-for="Absence.AbsenceDateFrom" />
        <label>
          <input type="radio" asp-for="Absence.FromAfternoon" value="false" checked />
          <span>Morgen</span>
        </label>
        <label>
          <input type="radio" asp-for="Absence.FromAfternoon" value="true" />
          <span>Nachmittag</span>
        </label>

        <span class="red-text" asp-validation-for="Absence.AbsenceDateFrom"></span>
      </div>

      <span>Abwesend bis:</span>

      <!-- Nested Grid AbsentTo -->
      <div style="display: grid; grid-template-columns: 3fr 1fr 1fr; grid-gap: 1em;">
        <input id="dateTo" type="text" class="datepicker" asp-for="Absence.AbsenceDateTo" />
        <label>
          <input type="radio" asp-for="Absence.ToAfternoon" value="false" />
          <span>Morgen</span>
        </label>
        <label>
          <input type="radio" asp-for="Absence.ToAfternoon" value="true" checked />
          <span>Nachmittag</span>
        </label>

        <span class="red-text" asp-validation-for="Absence.AbsenceDateTo"></span>
      </div>

      <span>Negative Tage</span>
      <div>
        <!-- label wrapper and empty span is required for materialize -->
        <label>
          <input type="checkbox" class="filled-in" asp-for="Absence.Negative" />
          <span></span>
        </label>
      </div>


      <span>Grund:</span>
      <!-- nested Grid -->
      <div id="reasonGrid" style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 1em;">
        @foreach (var item in Model.reasons)
        {
          <label>
            <input type="radio" asp-for="Absence.Reason" value="@item" />
            <span>@item</span>
          </label>
        }
        <label>
          <input type="radio" asp-for="Absence.Reason" value="Anderer" />
          <span><input type="text" placeholder="Anderer" asp-for="Absence.OtherReason" /></span>
        </label>
        <span class="red-text" asp-validation-for="Absence.Reason"></span>
        <span class="red-text" asp-validation-for="Absence.OtherReason"></span>
      </div>

      <span>Ist i.O.:</span>
      <div>
        <!-- label wrapper and empty span is required for materialize -->
        <label>
          @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
          {
            <input id="approved" type="checkbox" class="filled-in" asp-for="Absence.Approved" />
          } else
          {
            <input id="approved" type="checkbox" class="filled-in" asp-for="Absence.Approved" disabled />
          }
          <span></span>
        </label>
      </div>

      <input type="hidden" asp-for="Absence.ID" />
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn-small" onclick="$('#absenceWindow form').submit();">OK</button>
    <button class="btn-small" onclick="$('#absenceWindow').modal('close');">Abbrechen</button>
  </div>
</div>