@model OwnTimesPageModel
@{
  Model.rates = Model._db.OvertimeDetail.Select(item => new SelectListItem
  {
    Text = item.Description,
    Value = item.ID.ToString()
  }).ToList();
}

<div id="overtimeWindow" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Überzeit erfassen oder ändern</h4>
    <form id="overtimeForm" asp-page-handler="Overtime" method="POST">
      <div style="display: grid; grid-template-columns: 3fr 1fr; grid-column-gap: 1em;">
        <span>Datum:</span>
        <span>Stunden:</span>
        <input id="date" type="text" asp-for="Overtime.Date" class="datepicker" />
        <input type="number" step="0.1" asp-for="Overtime.Hours" />
        <span class="red-text" asp-validation-for="Overtime.Date"></span>
        <span class="red-text" asp-validation-for="Overtime.Hours"></span>
      </div>
      <span>Kunde:</span>
      <input type="text" asp-for="Overtime.Customer" />
      <span class="red-text" asp-validation-for="Overtime.Customer" style="display: block;"></span>
      <span>Zuschlag:</span>
      <select asp-for="Overtime.IdOvertimeDetail" asp-items="Model.rates"></select>
      <span>Ist I.O.:</span>
      <div style="display: inline">
        <!-- label wrapper and empty span is required for materialize -->
        <label>
          @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
          {
            <input id="approved" type="checkbox" class="filled-in" asp-for="Overtime.Approved" />
          } else
          {
            <input id="approved" type="checkbox" class="filled-in" asp-for="Overtime.Approved" disabled />
          }
          <span style="margin-left: 1em; width: auto; height: 1em;"></span>
        </label>
      </div>
      <input type="hidden" asp-for="Overtime.ID" />
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn-small" onclick="$('#overtimeWindow form').submit();">OK</button>
    <button class="btn-small" onclick="$('#overtimeWindow').modal('close');">Abbrechen</button>
  </div>
</div>